.project.opened {
            
    width: auto;
    height: auto;
    z-index: 3;
    text-align: left;
    padding: 10px;
    position: absolute;
    background-color: white;

    .meta {
        display: inherit;   
    }

    .info {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(255,255,255,0.9);
        padding: 10px;
        width: 375px;
    }

    .img {
        height: auto;
        overflow-y: visible;

        .thumb {
            display: none;    
        }
        .full {
            display: inline;    
        }
    }

    .name {
        text-align: left;
        position: static;
        background-color: transparent;
        color: black;
        padding: 0;
        font-weight: bold;
        margin: 5px 0; 
    }

    .desc {
        font-weight: 100;
        margin-bottom: 10px;
    }

    .dates {
        margin-top: 1em;
    }

    .client {
        margin-top: 0.5em;
    }

    .client, .agency {
        color: #cccccc;
    }

    ul {
        list-style: none; 
        padding-left: 0;
        display: inline-block;
        li {
            display: inline-block;
            padding: 5px;
            border: 1px solid #dddddd;
            margin-right: 0.2em;
            margin-bottom: 0.2em;
        }
    }

    ul.tech {
        margin-bottom: 0.5em;
        li {
            border-radius: 8px;
            background-color: #cccccc;
        }
    }

    ul.type {
      margin-bottom: 0.5em;    
    }



}