$cell_width: 240px;
$cell_height: 180px;

.project-list {
    
    list-style: none;
    padding: 0;
    margin: 0;
    
    > li {
        
        width: $cell_width;
        height: $cell_height;
        overflow: hidden;
        display: inline-block;
        margin: 4px;
        padding: 0;
        
        .meta {
            display: none;   
        }
        

        .name {
            position: relative;
            bottom: 35px;
            background-color: rgba(255,255,255,0.5);
            color: rgba(1,1,1,0.5);
            padding: 5px;
            display: block;
            text-align: right;
        }

        .img {
            height: $cell_height;
            overflow-y: hidden;

            .full {
                display: none;    
            }
        }
        
        &:hover {
            
            /*-webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);*/
            
            
            .name {
                background-color: rgba(255,255,255,0.9);
                color: rgba(1,1,1,0.9);
            }
        }
        
        &:hover, &.opened {
         
            box-shadow: rgba(1,1,1,0.5) 0 5px 10px;
            
        }
        
        
        
    }
}

.project {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.project.ng-enter.ng-enter-active,
.project.ng-leave {
    opacity: 1;
    width: $cell_width;
    height: $cell_height;
    overflow: hidden;
}

.project.ng-leave.ng-leave-active,
.project.ng-enter {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}