@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700italic,400italic,300italic,300);

$font: 'Roboto Condensed', sans-serif;

@import "listing";
@import "active-project";

body {
    font-family: $font;
    
    header {
        padding: 30px;
        position: fixed;
        z-index: 2;
        background-color: rgba(255,255,255,0.8);
        width: 100%;
        text-align: center;
        
        h2 {
            margin-top: 10px;
            margin-bottom: 20px;
        }
        
        .filter-menu {
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;
        }
        
        
    }
    
    .multiselect-parent {
        span.glyphicon {
            margin-right: 10px;
        }
    }
    
    main {
        text-align: center;  
        padding-top: 220px; 
    }
}