@import "variables.scss";

$skills-bg: #ba4c63;

header p:first-child {
    margin-bottom: 1.5em;
}

.item-details {
    .tech {
        display: inline-block;
    }
}

#skills {
    background-color: $skills-bg;
	color: white;

    hr.star-light:after {
        background-color: $skills-bg;
    }

    ul {
        list-style: none;
        font-size: 2em;
        padding-left: 0;

        li {
            text-align: center;
        }
    }
}

.portfolio-item {
    img {
        margin: auto;
    }
}

.footer-above {
    padding-bottom: 3em;
}
