<!-- Portfolio Modals -->
<div class="portfolio-modal" tabindex="-1" ng-cloak>
    <div class="modal-content">
        <div class="close-modal" ng-click="$ctrl.goBack()">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{$ctrl.project.project.name}}</h2>
                        <hr class="star-primary">
                        <img ng-src="images/{{$ctrl.project.images[0]}}.png" class="img-responsive img-centered" alt="">
                        <p ng-bind-html="$ctrl.project.project.description | formatDescription"></p>
                        <ul class="list-inline item-details">
                            <li ng-show="project.clientId > 0">Client:
                                <strong>{{$ctrl.project.clientName}}</strong>
                            </li>
                            <li>For:
                                <strong>{{$ctrl.project.agencyName}}</strong>
                            </li>
                            <li>Date:
                                <strong>{{$ctrl.project.project.startDate | date: 'MMM yy'}}
                                <span ng-hide="$ctrl.isNullDate($ctrl.project.project.endDate)">
                                - {{$ctrl.project.project.endDate | date: 'MMM yy'}}
                                </span>
                                </strong>
                            </li>
                            <li>Technologies:
                                <strong><ul class="tech list-inline">
                                    <li ng-repeat="tech in $ctrl.project.technologies">
                                        {{$ctrl.tech}}
                                    </li>
                                </ul></strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>