<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link href="css/main.css" rel="stylesheet">
  <title>James Tarling</title>
</head>

<body ng-controller="appController">
  
  <header>
    <h1>James Tarling</h1>
    <h2>Portfolio of work</h2>
    <div class="filters" ng-controller="filtersController">
        <div class="filter-menu" ng-dropdown-multiselect="" options="technologies" selected-model="selectedTechs" extra-settings="filterOptions" translation-texts="techFilterTexts"></div>
        <div class="filter-menu" ng-dropdown-multiselect="" options="types" selected-model="selectedTypes" extra-settings="filterOptions" translation-texts="typeFilterTexts"></div>
    </div>
  </header>
  <main>
    <section class="filters">
        <form>
            <!--<div class="form-group">
                <span ng-repeat="tech in technologies">
                <label for="{{tech.id}}">
                    <input name="techs" id="{{tech.id}}" ng-model="listFilters.techs[tech.id]" type="checkbox" ng-true-value="'{{tech.name}}'" ng-false-value="''">
                    {{tech.name}}
                </label>
                    </span>
            </div>-->
            
        </form>
      
    </section>  
    <section class="list"> 
    <ul class="project-list" ng-show="projects.length">
    <!--<ul class="project-list" ng-cloak="true" ng-value="projects | filterBySelection: selectedTechs : selectedTypes">-->
    <!--<ul class="project-list" ng-controller="listController" ng-cloak="true" ng-value="projects">-->
      <li ng-repeat="project in projects | filterBySelection: selectedTechs : selectedTypes">
        <div class="img">
            <img ng-src="thumbnails/{{project.images[0]}}.jpg">
        </div>
        <div class="name">{{project.project.name}}</div>
        <div class="desc">{{project.project.description}}</div>
        <ul class="tech">
            <li ng-repeat="tech in project.technologies">
                {{tech}}
            </li>
        </ul>
        <ul class="type">
            <li ng-repeat="type in project.types">
                {{type}}
            </li>
        </ul>
        <div class="client" ng-show="project.clientId > 0">for {{project.clientName}}</div>
        <div class="agency">{{project.clientId == "0" ? "for" : "with"}} {{project.agencyName}}</div>
        <div class="dates">
          <span class="date-from">{{project.project.startDate | date: 'MMM yy'}}</span>
          <span class="date-span" ng-hide="isNullDate(project.project.endDate)">
            - <span class="date-from">{{project.project.endDate | date: 'MMM yy'}}</span>
          </span>
        </div>
      </li>
    </ul>
    </section>  
  </main>
  <footer>
  
  </footer>
  <!-- build:app-js -->
  <script data-main="js/main.js" src="lib/require.js"></script>
  <!-- endbuild -->
</body>
</html>
