<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link href="css/main.css" rel="stylesheet">
  <title>James Tarling</title>
</head>

<body ng-controller="appController">
  
  <header>
    <h1>James Tarling</h1>
    <h2>Portfolio of work</h2>
  </header>
  <main>
    <ul class="project-list" ng-cloak="true" ng-model="projects">
      <li ng-repeat="project in projects">
        <div class="name">{{project.project.name}}</div>
        <div class="desc">{{project.project.description}}</div>
        <ul class="tech">
            <li ng-repeat="tech in project.technologies">
                {{tech}}
            </li>
        </ul>
        <ul class="type">
            <li ng-repeat="type in project.types">
                {{type}}
            </li>
        </ul>
        <div class="client">for {{project.clientName}}</div>
        <div class="agency">with {{project.agencyName}}</div>
        <div class="dates">
          <span class="date-from">{{project.project.startDate | date: 'MMM yy'}}</span>
          <span class="date-span" ng-hide="isNullDate(project.project.endDate)">
            - <span class="date-from">{{project.project.endDate | date: 'MMM yy'}}</span>
          </span>
        </div>
      </li>
    </ul>
  </main>
  <footer>
  
  </footer>
  <!-- build:app-js -->
  <script data-main="js/main.js" src="lib/require.js"></script>
  <!-- endbuild -->
</body>
</html>
